@import "reset";
@import "variables/globals";
@import "themes/normal";
@import "themes/dark";

#root {
  height: 100%;
}

.app {
  font: var(--font-m);
  min-height: 100%;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  display: flex;
}

.main {
  padding: 20px;
}