.app.dark {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;

  --color-primary: #049604;
  --color-secondary: #04ff04;

  --inverted-color-primary: #0232c2;
  --inverted-color-secondary: #0449e0;
}