.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;

  --color-primary: #0232c2;
  --color-secondary: #0449e0;

  --inverted-color-primary: #049604;
  --inverted-color-secondary: #04ff04;
}